<!--Landing page-->

<!-- user/templates/user/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poafabric | Welcome</title>
    <link rel="stylesheet" href="{% static 'user/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h1>Welcome To <span>PoaFabric</span></h1>
            <p>Empowering Recyclers and Upcyclers to make a difference.</p>
            <img src="{% static 'user/images/recycle.avif' %}" alt="Recycling Illustration" class="hero-img">

            <div class="buttons">
                <a href="{% url 'signup' %}" class="btn">Sign Up</a>
                <a href="{% url 'login' %}" class="btn">Log In</a>
            </div>
        </div>
        <div class="right-section">
            <div class="info-box">
                <h2>Who are we?</h2>
                <p>PoaFabric is a textile waste information platform built to help communities reduce fabric pollution and embrace sustainable living. We connect people who want to donate unused clothes or fabric with recycling centers and upcycling centers.
                     Through education and action, we are building a future where no fabric goes to waste.We are dedicated to reduce textile waste driven by the passion to conserve the enviroment and promote sustainable fashion practices.
                     We aim to, Reduce textile pollution through collection,Education of the public about the environmental impact of fast fashion and the importance of circular fashion.💚!</p>
            </div>
            <div class="info-box">
                <h2>Mission and Mission</h2>
                <p>Our Mission is to create a simple, accessible system that promotes the responsible collection and upcycling of textile waste, helping people and the planet at the same time.
                    <br>Our Vission is a cleaner, greener world where every piece of fabric finds a purpose,reducing waste, empowering communities, and supporting sustainable innovation.
                </p>
            </div>
            <div class="info-box">
                <h2>Contact us</h2>
                <p>Email: support@poafabric.com<br>Phone: +254 748 242 523<br>Social Media<br>Facebook: @PoaFabric<br>Instagram: @PoaFabric<br>X: @PoaFabric</p>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2025 Poafabric. All rights reserved.
    </footer>
</body>
</html>
</html>
